@{
    ViewData["Title"] = "Anagram";
}

@section Scripts{

    <script src="~/ts/anagram.js"></script>
}

<div class="container-fluid">

    <h5>ANAGRAM</h5>

    // ANAGRAM ALGO DETAILS:<br/>
    // Check to see if two provided strings are anagrams of each other.<br />
    // One string is an anagram of another if it uses the same characters<br />
    // in the same quantity. Only consider characters, not spaces<br />
    // or punctuation.  Consider capital letters to be the same as lower case<br /><br />
    // --- Examples<br />
    //   anagrams('rail safety', 'fairy tales') --> True<br />
    //   anagrams('RAIL! SAFETY!', 'fairy tales') --> True<br />
    //   anagrams('Hi there', 'Bye there') --> False<br />

    <form>
        <div class="form-group row">
            <label for="string1" class="col-sm-4 col-form-label">Enter String 1:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="string1" placeholder="Input String 1">
            </div>
            </div>
            <div class="form-group row">
                <label for="string2" class="col-sm-4 col-form-label">Enter String 2:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="string2" placeholder="Input String2">
                </div>
            </div>

        <div class="form-group row">
            <div class="col-sm-8">
                <button type="button" onclick="checkAnagram()" class="btn btn-sm btn-primary">Check Anagram!</button>

            </div>
        </div>
    </form>

    <strong>Are String1 and String2 anagram?:</strong> <strong><span style="color:green" id="checkanagramspan"></span></strong><br/><br/>
    

     TYPESCRIPT CODE:<br/>
        
    <pre>
    <code>

        function isAnagram(str1: string, str2: string): boolean
        {
            return (cleanString(str1) === cleanString(str2)  ? true : false);
        }

        function cleanString(str: string): string {

            return str
            .replace(/[^\w]/g, '')
            .toLowerCase()
            .split('')
            .sort()
            .join('');

        }

    </code>
    </pre>


</div>

<script type="text/javascript">
    function checkAnagram() {
        
        document.getElementById("checkanagramspan").innerHTML = isAnagram(document.getElementById("string1").value, document.getElementById("string2").value); 
    }
</script>
