@{
    ViewData["Title"] = "Capitalize Sentence";
}

@section Scripts{

    <script src="~/ts/capitalizesentence.js"></script>
}

<div class="container-fluid">

    <h5>CAPITALIZE SENTENCE</h5><br />
    // --- Directions<br />
    // Write a function that accepts a string.  The function should<br />
    // capitalize the first letter of each word in the string then<br />
    // return the capitalized string.<br /><br />
    // --- Examples<br />
    //   capitalize('a short sentence') --> 'A Short Sentence'<br />
    //   capitalize('a lazy fox') --> 'A Lazy Fox'<br />
    //   capitalize('look, it is working!') --> 'Look, It Is Working!'<br />
    <hr />

    <form>
        <div class="form-group row">
            <label for="capitalizesentence" class="col-sm-4 col-form-label">Enter String to Reverse:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="capitalizesentence" placeholder="Capitalize This!">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-8">
                <button type="button" onclick="capitalizesentenceLocal()" class="btn btn-sm btn-primary">Capitalize Sentence</button>

            </div>
        </div>
    </form>
    <br />
    <strong>Capitalized Sentence:</strong> <strong><span style="color:green" id="capitalizedsentence"></span></strong>
   <hr />
    TYPESCRIPT CODE:
   <pre>
        <code>
        function capitalizeSentence(str: string): string {

        let wordArr: string[];

        wordArr = str.split(' ');
        var updatedWordArr: string[] = [''];

        for (let word of wordArr) {

        updatedWordArr.push(word[0].toUpperCase() + word.slice(1)) ;
        }

        return  updatedWordArr.join(' ');
        }
        </code>
    </pre>


</div>

<script type="text/javascript">
    function capitalizesentenceLocal() {

        //document.getElementById("reversedstring").innerHTML = capitalizesentence('jamais'); //capitalizesentence(document.getElementById("capitalizesentence").innerText());

        document.getElementById("capitalizedsentence").innerHTML = capitalizeSentence(document.getElementById("capitalizesentence").value); //capitalizesentence(document.getElementById("capitalizesentence").innerText());
    }
</script>
