@{
    ViewData["Title"] = "Mohammad Kabir's Algorithm Web Application using .NET Core and TypeScript";
}

@section Scripts{
    <script src="~/ts/tests.js"></script>
    <script src="~/ts/functions.js"></script>
}

<div class="container-fluid">
    <h1 >Welcome</h1>
    <p>
        This is a ASP .NET Core Project entailing popular Algorithms using TypeScript.<br /><br />
        Feel free to fork or contribute in Github Repo at:
        <a href="https://github.com/kabirutd/TypeScript-DotNetCore" target="_blank">
            https://github.com/kabirutd/TypeScript-DotNetCore
        </a>
        <br/><br />
        TypeScript files are located at: https://github.com/kabirutd/TypeScript-DotNetCore/tree/master/TypeScriptProject1/wwwroot/ts
    </p>
</div>
