@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="~/ts/tests.js"></script>
    <script src="~/ts/functions.js"></script>
}

<div class="container-fluid">
    <h1 >Welcome</h1>
    <p>
        This is a ASP .NET Core Project entailing popular Algorithms using TypeScript.
    </p>
</div>
